[tool.pytest.ini_options]
asyncio_mode = "auto"
filterwarnings = [
    "ignore::DeprecationWarning:homeassistant.components.http",
]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
follow_imports = "skip"
strict_optional = false
